.img-view {
    display: none;
    height: 100%;
    left: 0;
    padding: 4%;
    position: fixed;
    text-align: center;
    top: 0;
    overflow: auto;
    width: 100%;
    z-index: 10000;
}

.img-view.show {
    display: block;
}

.img-view-overlay {
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    overflow: auto;
    width: 100%;
}

.img-view-close {
    color: #ccc;
    font-size: 50px;
    line-height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    transition: color .15s;
}

.img-view-overlay:hover .img-view-close {
    color: #fff;
}

.img-view-content {
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: auto;
    max-width: 98%;
    position: relative;
}

.img-view-content-img {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
