.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.menu .menu-item {
    display: block;
    font-size: 13px;
    padding: 15px;
    line-height: 20px;
}

.menu.inline > .menu-item {
    display: inline-block;
}

.menu.menu-compact > .menu-item {
    line-height: 16px;
    padding: 8px;
}

.menu-divider {
    display: block;
}
