.sort-control {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    padding: 11px 15px 11px 3px;
    position: absolute;
    top: 0;
    width: 100%;
}

.sort-control:focus,
.sort-control:hover {
    background: rgba(0, 0, 0, .075);
}

.sort-control:after,
.sort-control:before {
    border-color: #aaa;
    border-style: solid;
    content: '';
    display: none;
    height: 6px;
    right: 5px;
    position: absolute;
    transform: rotate(-45deg);
    width: 6px;
}

/* arrow up */
.sort-control:before {
    border-width: 1px 1px 0 0;
    margin-top: -4px;
    top: 50%;
}

/* arrow down */
.sort-control:after {
    border-width: 0 0 1px 1px;
    /*margin-top: 1px;*/
    top: 50%;
}

.sort-control.both {
    display: block;
}

.sort-control.both:after,
.sort-control.both:before {
    display: block;
}

.sort-control.asc:before {
    display: block;
    margin-top: -3px;
    top: 50%;
}

.sort-control.desc:after {
    display: block;
    margin-top: -3px;
    top: 50%;
}

.sort-control.is-asc:before,
.sort-control.is-desc:after {
    border-color: #444;
}

.sort-control.is-asc:before {
    border-width: 2px 2px 0 0;
}

.sort-control.is-desc:after {
    border-width: 0 0 2px 2px;
}
