.tree-indentation {
    display: block;
    margin: -11px -3px;
    padding: 11px 3px;
    position: relative;
}

.tree-indentation:hover {
    background: #eee;
}

.tree-indentation_indent {
    /*border-bottom: 1px solid #888;*/
    /*border-left: 1px solid #888;*/
    display: inline-block;
    height: 8px;
    /* margin-top: -7px; */
    margin-left: 6px;
    position: relative;
    top: -4px;
    width: 10px;
}

.tree-indentation_indent.has-sibling {
    border-left: 1px solid #888;
}

.tree-indentation_indent.has-sibling.is-last:after {
    content: '';
    display: block;
    position: absolute;
    height: 8px;
    width: 1px;
    background: #888;
    left: -1px;
    top: 100%;
}

/*.tree-indentation.is-last > .tree-indentation_indent {
    border-left-color: transparent;
}*/

.tree-indentation_indent.is-last {
    border-bottom: 1px solid #888 !important;
    border-left: 1px solid #888 !important;
}

.tree-indentation > .tree-indentation_icon {
    margin: 0 0 0 2px;
}

.tree-indentation.is-expandable.is-expanded > .tree-indentation_icon:before {
    content: "\f0d7";
}

.tree-indentation.is-expandable > .tree-indentation_icon:before {
    content: "\f0da";
}

.tree-indentation > .tree-indentation_content {
    display: inline-block;
    vertical-align: middle;
}
